 <div class="container mt-4 mb-3 w-25 p-3 border border-secondary text-dark n form">
  <h1 class="mb-3"> הוספת מודעה </h1>

  <div class="mb-3">
    <label><strong>קטגוריה</strong></label>
    <select [(ngModel)]="this.AddPost.CategoryId" title="בחר קטגוריה"
     class="form-select  {{this.Response.Isok ? '' : 'is-invalid'}}"
     aria-label="validationServerSelectFeedback" required>
      <option selected disabled >בחר קטגוריה</option>
      <option *ngFor="let option of options" [value]="option.value">{{option.name}}</option>
    </select>
    <div id="validationServerSelectFeedback" class="invalid-feedback">
      {{this.Response.Message}}
    </div>
  </div>


  <div class="form-check mb-3">
    <label>
      שילוח
    </label>
    <input class="form-check-input" type="checkbox" [(ngModel)]="this.AddPost.IsShip" >
  </div>


  <div><button class="mb-3" (click)="OnAddPost()">הוסף מודעה</button></div>
  <div class="mt-3 mb-3"> <app-toast-b  [Messages]="this.MessageAlert" (close)="ChangeOpenAlert($event)" *ngIf="this.OpenAlert==1"></app-toast-b></div>
  </div>
