.heades{
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
}


button{
  direction: rtl;
  text-align: center;
  background-color: #19ac31;
  border: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
button:hover {
  background-color: #ddd;
  color: black;
}

