<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<footer class="section footer-classic context-dark bg-image" style="background: #744f26;">
        <div class="container">
          <div class="row">
            <div class="col">
              <div ><img src="assets\baner.png" alt="" width="120px" height="105px">
                <p>האתר נבנה כפרויקט גמר לתעודת הנדסאי תוכנה</p>
                <p>על ידי טל מדמוני ומשה אזרף</p>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2021</span><span>  </span><span>כל הזכויות שמורות לאתר מהחקלאי לבית</span></p>
              </div>
            </div>
            <div class="col mobml mt-2" style="margin-left: 17%;">
              <h5>צור קשר</h5>
              <dl class="contact-list mt-4">
                <dt>מייל - טל מדמוני</dt>
                <dd><a href="mailto:#">tal45859@gmail.com</a></dd>
              </dl>
              <dl class="contact-list mt-4">
                <dt>מייל - משה אזרף</dt>
                <dd><a href="mailto:#">moshiko458@gmail.com</a></dd>
              </dl>

            </div>

          </div>
        </div>
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="https://www.facebook.com/%D7%90%D7%91-%D7%A0%D7%99%D7%A1%D7%95%D7%A8-%D7%95%D7%A7%D7%99%D7%93%D7%95%D7%97-%D7%91%D7%98%D7%95%D7%9F-%D7%91%D7%99%D7%94%D7%9C%D7%95%D7%9D-103115694844308/"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
          <div class="col"><a class="social-inner" href="https://www.instagram.com/itzikbresler/"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>

        </div>
      </footer>
