
<div class="container">
  <textarea style="width: 50%;margin-left: 25%;height: 450px; padding: 5%; direction: rtl;text-align: center;" disabled>הקדמה
    הפרטיות של המבקרים באתר שלנו חשובה לנו מאוד, ואנחנו מחויבים לשמירה עליה. המדיניות הזו מסבירה מה נעשה עם הפרטים האישיים שלכם.
    ההסכמה לשימוש שלנו בעוגיות בהתאם לתנאים של מדיניות זו בזמן הביקור הראשון באתר שלנו, מאפשרת לנו להשתמש בעוגיות בכל פעם שאתם מבקרים באתר.
    קרדיט
    המסמך הזה נוצר בעזרת תבנית של SEQ Legal (seqlegal.com) ושונתה על ידי Website Planet (www.websiteplanet.com)
    איסוף פרטים אישיים
    ייתכן שהסוגים הבאים של פרטים אישיים ייאספו, יאוחסנו, ויעשה בהם שימוש:
    מידע על המחשב שלכם, כולל כתובת ה-IP שלכם, מיקומכם הגאוגרפי, סוג הדפדפן והגרסה שלו, ומערכת ההפעלה;
    מידע על הביקורים והשימוש שלכם באתר, כולל מקור ההפניה, אורך הביקור, צפיות בעמודים, ונתיבי המעבר שלכם באתר;
    מידע, כמו למשל כתובת הדואר האלקטרוני שלכם, שאתם מזינים בזמן ההרשמה לאתר שלנו;
    מידע שאתם מזינים בזמן יצירת פרופיל באתר שלנו—לדוגמה, השם שלכם, תאריך לידה, מייל, סיסמה, עיר מגורים
    המידע שאתם מזינים בזמן השימוש בשירותים באתר שלנו;
    מידע שנוצר בזמן השימוש באתר שלנו, כולל מתי, כמה, ובאילו נסיבות אתם משתמשים בו;
    מידע שאתם מפרסמים באתר שלנו בכוונה לפרסמו באינטרנט, שכולל את שם המשתמש שלכם ,עיר ומספר טלפון.
    מידע שנכלל במסרים שאתם שולחים לנו בדואר האלקטרוני או באמצעות האתר שלנו, כולל תוכן המסר והמטא-דאתה שלו;
    כל סוג אחר של פרטים אישיים שאתם שולחים אלינו.
    לפני שתחשפו בפנינו את הפרטים האישיים של אדם אחר, עליכם לבקש את הסכמת האדם הזה גם עבור השיתוף וגם עבור העיבוד של אותם הפרטים האישיים לפי מדיניות זו
    שימוש בפרטים האישיים שלכם
    בפרטים אישיים שנמסרו לנו דרך האתר שלנו ייעשה שימוש למטרות שצוינו במדיניות זו, או בעמודים הרלוונטיים שבאתר. ייתכן שנשתמש בפרטים האישיים שלכם למטרות הבאות:
    ניהול האתר והעסק שלנו;
    התאמה האישית של האתר עבורכם;
    לאפשר לכם להשתמש בשירותים הזמינים באתר שלנו;
    לשלוח לכם הודעות מסחריות שאינן שיווקיות;
    לשלוח לכם התראות בדואר אלקטרוני שביקשתם באופן ספציפי;
    אספקה של מידע סטטיסטי בנוגע למשתמשים שלנו לצד ג’ (אבל צד ג’ זה לא יוכל לזהות אף משתמש בודד לפי המידע);
    טיפול בבירורים ותלונות שהוגשו על ידכם או נוגעות אליכם וקשורות לאתר שלנו;
    לשמור על האתר שלנו מאובטח ולמנוע הונאה;
    אם תמסרו לנו מידע אישי לפרסום באתר שלנו, אנחנו נפרסם את המידע ונשתמש בהתאם לרישיון שתספקו לנו.
    חשיפת פרטים אישיים
    אנחנו עשויים למסור את הפרטים האישיים שלכם לכל אחד מהעובדים, והמנהלים שלנו.
    במידה סבירה וכנדרש למטרות המצוינות במדיניות זו.
    אנחנו עשויים למסור את הפרטים האישיים שלכם:
    לפי מה שנדרש מאתנו על פי חוק;
    בהקשר של כל הליך משפטי קיים או עתידי;
    על מנת לבסס, להפעיל, או להגן על זכויותינו המשפטיות שלכם.
    ולכל אדם שאנחנו מאמינים במידה סבירה שעשוי לפנות לבית דין או לכל רשות מוסמכת לצורך מסירה של הפרטים האישיים בהם סביר לדעתנו שאותו בית דין או רשות יורה על מסירה של פרטים אישיים אלה.
    למעט על פי הכתוב במדיניות זו, אנו לא נספק את הפרטים האישיים שלכם לצד ג’.

    שמירת פרטים אישיים
    סעיף ג’ זה מפרט את תהליך ומדיניות שמירת הנתונים שלנו, המתוכננים לעזור להבטיח שאנחנו נענים לחובות המשפטיות שלנו הנוגעות לשמירה ולמחיקה של פרטים אישיים.
    פרטים אישיים שאנחנו מעבדים עבור כל מטרה או מטרות, לא יישמרו יותר מכמה שנדרש עבור מטרה או מטרות אלה.
    מבלי לגרוע מן האמור בסעיף ז-2, לרוב אנו נמחק נתונים אישיים הנמצאים בקטגוריות המפורטות מטה בתאריך/שעה המפורטים מטה:
    סוג הנתונים האישיים יימחק {הזינו תאריך/שעה};
    ו-{הזינו תאריך/שעה נוספים}.
    על אף ההוראות האחרות בסעיף ז’, אנו נשמור מסמכים (כולל מסמכים אלקטרוניים) המכילים נתונים אישיים:
    לפי מה שנדרש מאתנו על פי חוק;
    אם לדעתנו המסמכים עשויים להיות רלוונטיים לכל הליך משפטי מתמשך או פוטנציאלי;
    אבטחת הפרטים האישיים שלכם
    אנחנו ננקוט משנה זהירות ארגוני וטכני סביר על מנת למנוע את האבדן, השימוש לרעה, או השינוי של הפרטים האישיים שלכם.
    אנחנו נאחסן את כל הפרטים האישיים שאתם מספקים בשרתים מאובטחים (המוגנים בסיסמא ובחומת אש).
    אתם מכירים בכך שהשידור של מידע על פני האינטרנט אינו מאובטח מעצם היותו, ואנחנו ללא יכולים להבטיח שנתונים שנשלחים דרך האינטרנט יהיו מאובטחים.
    אתם אחראים על שמירת הסיסמא בה אתם משתמשים לקבלת גישה לאתר שלנו חסויה; אנחנו לא נבקש מכם את הסיסמא שלכם (למעט בזמן ההתחברות לאתר שלנו).
    תיקונים
    אנחנו עשויים לעדכן מדיניות זו מעת לעת באמצעות פרסום של גרסה חדשה באתר שלנו. עליכם לבדוק את העמוד הזה מדי פעם על מנת לוודא שאתם מבינים כל שינוי שנעשה במדיניות זו. אנחנו עשויים להודיע לכם על שינויים במדיניות זו בהודעת דואר אלקטרוני או דרך מערכת ההודעות הפרטיות שבאתר שלנו.
    הזכויות שלכם
    אתם יכולים להורות לנו לספק לכם כל פרט מפרטיכם האישיים שאנו מחזיקים הנוגעים אליכם; אספקת פרטים אלה תהיה כפופה לתנאים הבאים:
    תשלום של עמלה {10 ₪ };
    אספקה של ראיות הולמות עבור הזהות שלכם  לרוב נקבל צילום של הדרכון שלכם באישור נוטריון, יחד עם עותק מקורי של חשבון שירות בו ניתן לראות את הכתובת הנוכחית שלכם.
    אנחנו עשויים לסרב למסור פרטים אישיים שאתם מבקשים עד למידה המורשית על פי חוק.
    אתם יכולים להורות לנו בכל עת לא לעבד את הפרטים האישיים שלכם לצורכי שיווק.
    בפועל, בדרך כלל תבטאו הסכמה מראש לשימוש שלנו בפרטים האישיים שלכם למטרות שיווק, או שאנחנו נספק לכם אפשרות לבחור שלא יעשה בפרטים האישיים שלכם שימוש למטרות שיווקיות.
    יא. אתרים צד ג’
    האתר שלנו כולל קישורים חיצוניים, ופרטים על, אתרים צד ג’. אין לנו שליטה על, ואיננו אחראים על, מדיניות הפרטיות והנהלים של כל צד ג’.
    אתרים צד ג’
    האתר שלנו כולל קישורים חיצוניים, ופרטים על, אתרים צד ג’. אין לנו שליטה על, ואיננו אחראים על, מדיניות הפרטיות והנהלים של כל צד ג’.
    עדכון מידע
    אנא הודיעו לנו אם יש צורך לתקן או לעדכן את הפרטים האישיים שאנו מחזיקים עליכם במאגר המידע.
    האתר שלנו משתמש בעוגיות. עוגייה היא קובץ המכיל מזהה (מחרוזת של אותיות ומספרים) שנשלח על ידי שרת אינטרנט לדפדפן אינטרנט ומאוחסן בדפדפן. אז, המזהה נשלח בחזרה לשרת בכל פעם שהדפדפן מבקש מהשרת להציג דף אינטרנט. עוגיות יכולות להיות או עוגיות “עיקשות” או עוגיות “פעולה” (session): עוגייה עיקשת תאוחסן בדפדפן שלכם ותישאר בתוקף עד תאריך התפוגה שנקבע לה, אלא אם תימחק על ידי המשתמש לפני תאריך התפוגה; עוגיית פעולה, מאידך, תפוג בסוף זמן הגלישה הנוכחי שלכם, כשתסגרו את הדפדפן. בדרך כלל עוגיות לא כוללות מידע שמזהה משתמשים אישית, אבל פרטים אישיים שאנחנו מאחסנים הנוגעים עליכם יכולים להיות מקושרים למידע המאוחסן והמתקבל מתוך עוגיות. אנחנו משתמשים גם בעוגיות פעולה וגם בעוגיות עיקשות באתר שלנו.
    השמות של העוגיות בהן אנחנו משתמשים באתר שלנו, והמטרות לשמן הן בשימוש, מפורטות מטה:
    אנחנו משתמשים בשירותי Google Analytics ו-Adwords באתר שלנו כדי לזהות מחשב כשמשתמש {כללו את כל השימושים הקיימים לעוגיות באתר שלכם מבקר באתר / לעקוב אחרי משתמשים בזמן השימוש שלהם לנתח את השימוש באתר / לנהל את האתר / למנוע הונאה ולשפר את האבטחה של האתר / להתאים אישית את האתר לכל משתמש / להשתמש בפרסומות ממוקדות שעשויות לעניין במיוחד משתמשים מסוימים / על מנת ליעל את נוחות האתר למשתמש ולאבטח אותו בצורה המיטבית.
    רוב האתרים מאפשרים לכם לסרב לשימוש בעוגיות—למשל:
    באינטרנט אקספלורר (גרסה 10) אתם יכולים לחסום עוגיות בעזרת הגדרות עקיפת הטיפול בעוגיות הזמינות באמצעות לחיצה על “כלים,” “אפשרויות אינטרנט,” “פרטיות,” ואז “מתקדם”;
    בפיירפוקס (גרסה 24) אתם יכולים לחסום את כל העוגיות באמצעות לחיצה על “כלים,” “אפשרויות,” “פרטיות,” ובחירה של “השתמש בהגדרות מותאמות אישית עבור היסטוריה” מתוך התפריט הנפתח, ואז ביטול הזימון של “קבל עוגיות מאתרים”;
    ובכרום (גרסה 29), אתם יכולים לחסום את כל העוגיות באמצעות כניסה לתפריט “התאמה אישית ובקרה,” ואז ללחוץ על “הגדרות,” “הצג הגדרות מתקדמות,” ו-“הגדרות תוכן,” ואז לבחור באפשרות “חסום אתרים מהגדרה של נתונים” תחת הכותרת “עוגיות.”
    לחסימה של כל העוגיות תהיה השפעה שלילית על נוחות השימוש של אתרים רבים. אם תחסמו עוגיות, לא תוכלו להשתמש בכל האפשרויות שבאתר שלנו.
    אתם יכולים למחוק עוגיות שכבר מאוחסנות במחשב שלכם—למשל:
    בדפדפן אינטרנט אקספלורר (גרסה 10), אתם צריכים למחוק קבצי עוגיות ידנית (תוכלו למצוא הוראות לכך בכתובת http://support.microsoft.com/kb/278835 );
    בפיירפוקס (גרסה 24), אתם יכולים למחוק עוגיות באמצעות לחיצה על “כלים,” “אפשרויות,” ו-“פרטיות”, ואז לבחור “השתמש בהגדרות מותאמות אישית עבור היסטוריה”, וללחוץ על “הצג עוגיות,” ואז “הסר את כל העוגיות”;
    ובכרום (גרסה 29), אתם יכולים למחוק את כל העוגיות באמצעות כניסה לתפריט “התאמה אישית ובקרה,” ואז ללחוץ על “הגדרות,” “הצג הגדרות מתקדמות,” ו-“נקה נתוני גלישה,” ואז לבחור באפשרות “מחק עוגיות ונתונים אחרים של אתרים ותוספים,” ולבסוף ללחוץ “נקה נתוני גלישה.”
    למחיקה של עוגיות תהיה השפעה שלילית על נוחות השימוש של אתרים רבים.

    </textarea>
   <div ><button class="bt mobbtPolicy" style="margin-left: 44%;"><a href="/RegisterComponent">חזור להרשמה</a></button></div>
</div>



