<div class="container heades ">
  <h2>פרטים אישיים</h2>
  <div class="table-responsive">
  <table dir="rtl" class="table table-dark table-hover">
    <thead>
      <tr>
        <th>שם פרטי</th>
        <th>שם משפחה</th>
        <th>סוג</th>
        <th>תאריך לידה</th>
        <th>טלפון</th>
        <th>עיר</th>
        <th>מייל</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{MerchantDetaills.User.FirstName}}</td>
        <td>{{MerchantDetaills.User.LastName}}</td>
        <td>{{MerchantDetaills.User.Role}}</td>
        <td>{{MerchantDetaills.User.Birthdate|date:'dd-MM-yyyy'}}</td>
        <td>{{MerchantDetaills.User.Phone}}</td>
        <td>{{MerchantDetaills.City}}</td>
        <td><a href="mailto:{{MerchantDetaills.User.Mail}}">{{MerchantDetaills.User.Mail}}</a></td>
        <td><button (click)="OnClickDelete()">מחק משתמש</button></td>
      </tr>
    </tbody>
  </table>
</div>
  <app-toast-b  [Messages]="this.Message" (close)="ChangeOpenAlert($event)" *ngIf="this.OpenAlert==1"></app-toast-b>
</div>
